.app {
  display: flex;
  flex-direction: column;
}
.score {
  display: flex;
  gap: 5px;
  margin: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards,
.removedPokemon {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  justify-content: center;
}
